{% block content %}
This is the deep link example. The following deep link url was generated via nerd facebook's getDeepLinkUrl helper method. It links back to this very page.<br />
    <a href="{{ deepLinkUrl | raw }}">{{ deepLinkUrl | raw }}</a>
{% endblock %}